.message-list {
    height: 70vh;
    overflow-y: auto;
    padding: 20px;
}

.my-message {
    background: #DCF8C6;
    margin-left: auto;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.other-message {
    background: #EEEEEE;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}